#about-us {

  .content {
    padding-top: 100px;

    @include media-breakpoint-down(md) {
      padding: 50px 0;
    }
  
    @include media-breakpoint-down(sm) {
      padding: 25px 0;
    }

    p {
      &:not(.screen-title){
        padding: 0 25px;
      }
    }
  }

  .collaborators {
    padding-top: 50px;
  
    @include media-breakpoint-down(sm) {
      padding-top: 25px;
    }

    .content {
      padding: 0;

      p {
        &:last-child {
          margin: 0;
        }
      }

      .carousel {
        .item {
          display: block;
          height: 150px;

          .logo {
            background: center center no-repeat;
            background-size: contain;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}