#contact-us {
  background: url(../../assets/images/bg-leaf.png) right center no-repeat;
  background-size: 280px;

  @include media-breakpoint-down(md) {
    background: none;
  }

  .screen-container {

    .content {
      padding: 100px 0;

      @include media-breakpoint-down(md) {
        padding: 50px 0;
      }
    
      @include media-breakpoint-down(sm) {
        padding: 25px 0;
      }

      .form {
        padding-left: 25px;

        @include media-breakpoint-down(sm) {
          padding: 0;
        }

        .form-group {

          .form-control {
            background: transparent;
            border: none;
            border-bottom: 1px solid getAppColor('mirage');
            border-radius: 0;
            outline: none;
      
            &:focus {
              box-shadow: none;
            }
          }
        }

        .ha-btn-submit {
          margin-left: 10px;

          @include media-breakpoint-down(md) {
            display: block;
            margin-left: 0;
            margin-top: 10px;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}