#project-about {
  background: right center no-repeat;
  background-size: 440px;

  @include media-breakpoint-down(lg) {
    background-size: 360px;
  }

  @include media-breakpoint-down(md) {
    background-position: right bottom;
    background-size: 280px;
  }

  @include media-breakpoint-down(sm) {
    background: none !important;
  }

  .content {
    padding-top: 100px;

    @include media-breakpoint-down(md) {
      padding: 50px 0;
      padding-top: 100px;
    }
  
    @include media-breakpoint-down(sm) {
      padding: 25px 0 0;
    }

    &.no-padding {
      @include media-breakpoint-up(md) {
        padding: 0;
      }
    }

    p {
      &:not(.screen-title){
        //padding-left: 25px;
      }

      &:last-child {
        margin: 0;
      }

      &.text-right {
        //padding-right: 100px;

        @include media-breakpoint-down(md) {
          //padding-right: 50px;
        }
      
        @include media-breakpoint-down(sm) {
          //padding-right: 25px;
        }

        .ha-btn-pdf {
          background-position: right 13px center;
          background-repeat: no-repeat;
          background-image: url(../../assets/images/icons/pdf-mirage.svg);
          background-size: 24px 24px; 

          &:hover {
            background-image: url(../../assets/images/icons/pdf-white.svg);
          }
        }
      }

      .option {
        font-weight: 800;
      }

      .value {
        color: getAppColor('bombay');
      }
    }
  }

  .collaborators {
    @include media-breakpoint-down(sm) {
      padding-bottom: 25px;
    }

    .content {

      .carousel {

        & > .slick-list > .slick-track {
          margin-left: 0;
        }
        
        .item {
          display: block;
          height: 150px;

          .logo {
            background: center center no-repeat;
            background-size: contain;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}