#project-gallery {

  .gallery-item {
    background: center center no-repeat;
    background-size: cover;
    margin-top: 10px;

    &.screen {

      @include media-breakpoint-down(md) {
        min-height: 50vh;
      }
    }
  }

  .disclaimer {
    background: getAppColor('black-haze');
    padding: 25px;

    p {
      text-align: center;
      margin: 0;
    }
  }
}