#project-description {

  .screen-container {
    padding: 0;
  }

  .content {
    padding: 100px 50px 100px 260px;

    @include media-breakpoint-down(md) {
      padding: 50px;
    }
  
    @include media-breakpoint-down(sm) {
      padding: 25px;
    }

    p {
      &:not(.screen-title){
        padding-left: 25px;

        @include media-breakpoint-down(md) {
          padding-left: 0;
        }
      }
    }

    ul {
      margin: 0;
      padding-left: 50px;

      @include media-breakpoint-down(md) {
        padding-left: 25px;
      }
    }
  }

  .image {
    background: center center no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    width: 100%;
  
    @include media-breakpoint-down(md) {
      min-height: 50vh;
    }
  }
}